.dimmed {
  background-color: rgba($black, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.wrapper {
  @include display-flex($direction: column, $justify: center, $align: center);
  background-image: url('/assets/modal.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 820px;
  height: 600px;
  padding: 50px 80px 80px 80px;
  z-index: 20;

  .close-button {
    position: absolute;
    top: 60px;
    right: 70px;
  }

  .title {
    @include font($h2, $bold, $brown);
    width: 90%;
    overflow: hidden;
    text-align: center;
  }

  .content {
    @include scroll;
    flex: 1;
    width: 100%;
  }

  .buttons {
    @include display-flex($justify: space-around);
    width: 100%;
  }
}
