.button {
  @include font($h2, $bold, $brown);
  font-family: 'DeliusUnicase';
  letter-spacing: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  width: 250px;
  height: 80px;
}
