.button {
  @include font($h2, $bold, $brown);
  font-family: 'DeliusUnicase';
  letter-spacing: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  width: 250px;
  height: 80px;

  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.6));
  }
}
